{{#items}}
{{name}}
  background-image: url({{{escaped_image}}})
  background-position: {{px.o_x_half}} {{px.o_y_half}}
  -webkit-background-size: {{px.t_w_half}} {{px.t_h_half}}
  -moz-background-size: {{px.t_w_half}} {{px.t_h_half}}
  -o-background-size: {{px.t_w_half}} {{px.t_h_half}}
  background-size: {{px.t_w_half}} {{px.t_h_half}}
  width: {{px.w_half}}
  height: {{px.h_half}}
{{/items}}
